In [1]:
import os 
import numpy as np
import pandas as pd

In [2]:
dataset =pd.read_csv('complaints_processed.csv')

In [3]:
dataset.head()

,Unnamed: 0,product,narrative
0,0,credit_card,purchase order day shipping amount receive pro...
1,1,credit_card,forwarded message date tue subject please inve...
2,2,retail_banking,forwarded message cc sent friday pdt subject f...
3,3,credit_reporting,payment history missing credit report speciali...
4,4,credit_reporting,payment history missing credit report made mis...

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162421 entries, 0 to 162420
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  162421 non-null  int64
 1   product     162421 non-null  object
 2   narrative   162411 non-null  object
dtypes: int64(1), object(2)
memory usage: 3.7+ MB

In [10]:
dataset.dropna(inplace= True)

In [11]:
dataset.isnull().sum()

Unnamed: 0    0
product       0
narrative     0
dtype: int64

In [12]:
dataset.drop_duplicates(inplace=True)

In [13]:
dataset.duplicated().sum()

0

In [19]:
dataset.Category.value_counts()

AttributeError: 'DataFrame' object has no attribute 'Category'