In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as snb 
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split

In [2]:
x ,y =load_iris(return_X_y=True)
x=pd.DataFrame(x)
y=pd.DataFrame(y)


x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

In [3]:
x

       0    1    2    3
0    5.1  3.5  1.4  0.2
1    4.9  3.0  1.4  0.2
2    4.7  3.2  1.3  0.2
3    4.6  3.1  1.5  0.2
4    5.0  3.6  1.4  0.2
..   ...  ...  ...  ...
145  6.7  3.0  5.2  2.3
146  6.3  2.5  5.0  1.9
147  6.5  3.0  5.2  2.0
148  6.2  3.4  5.4  2.3
149  5.9  3.0  5.1  1.8

[150 rows x 4 columns]

In [4]:
y

     0
0    0
1    0
2    0
3    0
4    0
..  ..
145  2
146  2
147  2
148  2
149  2

[150 rows x 1 columns]

In [ ]:
import keras
from keras.models import Sequential # model that is used to create a neural network
from keras.layers import Dense # layer that is used to create a dense layer

In [6]:
object =Sequential() # create a sequential model
object.add(Dense(units=2,kernel_initializer='uniform',activation='relu',input_dim=4)) # add a dense layer to the model, kernel_initializer is used to initialize the weights of the layer , units is the number of units in the layer, activation is the activation function, input_dim is the number of input features
 # that is used in input layer
object.add(Dense(units=2,kernel_initializer='uniform',activation='relu')) # add a dense layer to the model, kernel_initializer is used to initialize the weights of the layer, units is the number of units in the layer, activation is the activation function 
# that is used in hidden layer
object.add(Dense(units=2,kernel_initializer='uniform',activation='relu')) # add a dense layer to the model, kernel_initializer is used to initialize the weights of the layer, units is the number of units in the layer, activation is the activation function ,relu is used for activation function which is used for binary classification and that is used in middle layer 
# that is used in hidden layer
object.add(Dense(units=1,kernel_initializer='uniform',activation='sigmoid'))# add a dense layer to the model, kernel_initializer is used to initialize the weights of the layer, units is the number of units in the layer, activation is the activation function , sigmoid is used for binary classification 
# that is used in output layer

c:\Users\kumaw\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\layers\core\dense.py:88: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [7]:
object.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy']) # compile the model, optimizer is used to optimize the model, loss is used to calculate the loss, metrics is used to calculate the metrics , binary_crossentropy is used for binary classification and adam is used for optimization , accuracy is used to calculate the accuracy and loss is used to calculate the loss , binary_crossentropy is used for binary classification , metrics is used to calculate the metrics of a model and accuracy is used to calculate the accuracy of a model

In [21]:
history=object.fit(x_train,y_train,batch_size=10,epochs=10) # fit the model, batch_size is used for training, epochs is used for training , batch_size is used for training, epochs is used for training

Epoch 1/10
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 855us/step - accuracy: 0.2420 - loss: 0.6337
Epoch 2/10
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 883us/step - accuracy: 0.2819 - loss: 0.6279
Epoch 3/10
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 956us/step - accuracy: 0.3379 - loss: 0.6237
Epoch 4/10
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 791us/step - accuracy: 0.3581 - loss: 0.6117
Epoch 5/10
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 841us/step - accuracy: 0.3213 - loss: 0.6092
Epoch 6/10
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 778us/step - accuracy: 0.2816 - loss: 0.6064
Epoch 7/10
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 873us/step - accuracy: 0.3414 - loss: 0.6013
Epoch 8/10
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 816us/step - accuracy: 0.2963 - loss: 0.5937
Epoch 9/10
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 782us/step - accuracy: 0.3273 - loss: 0.5814
Epoch 10/10
12/12 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.3276 - loss: 0.5816

#### Hyperparametertuning in Machine Learning

In [13]:
x_test

       0    1    2    3
14   5.8  4.0  1.2  0.2
98   5.1  2.5  3.0  1.1
75   6.6  3.0  4.4  1.4
16   5.4  3.9  1.3  0.4
131  7.9  3.8  6.4  2.0
56   6.3  3.3  4.7  1.6
141  6.9  3.1  5.1  2.3
44   5.1  3.8  1.9  0.4
29   4.7  3.2  1.6  0.2
120  6.9  3.2  5.7  2.3
94   5.6  2.7  4.2  1.3
5    5.4  3.9  1.7  0.4
102  7.1  3.0  5.9  2.1
51   6.4  3.2  4.5  1.5
78   6.0  2.9  4.5  1.5
42   4.4  3.2  1.3  0.2
92   5.8  2.6  4.0  1.2
66   5.6  3.0  4.5  1.5
31   5.4  3.4  1.5  0.4
35   5.0  3.2  1.2  0.2
90   5.5  2.6  4.4  1.2
84   5.4  3.0  4.5  1.5
77   6.7  3.0  5.0  1.7
40   5.0  3.5  1.3  0.3
125  7.2  3.2  6.0  1.8
99   5.7  2.8  4.1  1.3
33   5.5  4.2  1.4  0.2
19   5.1  3.8  1.5  0.3
73   6.1  2.8  4.7  1.2
146  6.3  2.5  5.0  1.9

In [17]:
y_test

     0
14   0
98   1
75   1
16   0
131  2
56   1
141  2
44   0
29   0
120  2
94   1
5    0
102  2
51   1
78   1
42   0
92   1
66   1
31   0
35   0
90   1
84   1
77   1
40   0
125  2
99   1
33   0
19   0
73   1
146  2

In [26]:
history.history

{'accuracy': [0.3083333373069763,
  0.3083333373069763,
  0.3083333373069763,
  0.3083333373069763,
  0.3083333373069763,
  0.3083333373069763,
  0.3083333373069763,
  0.3083333373069763,
  0.3083333373069763,
  0.3083333373069763],
 'loss': [0.6327406764030457,
  0.627312958240509,
  0.6220598816871643,
  0.6168064475059509,
  0.6113288998603821,
  0.6060988903045654,
  0.6007639765739441,
  0.5955767035484314,
  0.5905479192733765,
  0.5852676033973694]}

In [29]:
pd.DataFrame(history.history)

   accuracy      loss
0  0.308333  0.632741
1  0.308333  0.627313
2  0.308333  0.622060
3  0.308333  0.616806
4  0.308333  0.611329
5  0.308333  0.606099
6  0.308333  0.600764
7  0.308333  0.595577
8  0.308333  0.590548
9  0.308333  0.585268

In [32]:
predication=pd.DataFrame(object.predict(x_test)) # predict the model, x_test is used for testing, y_test is used for testing

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 25ms/step

In [33]:
predication

           0
0   0.553477
1   0.553477
2   0.553477
3   0.553477
4   0.553477
5   0.553477
6   0.553477
7   0.553477
8   0.553477
9   0.553477
10  0.553477
11  0.553477
12  0.553477
13  0.553477
14  0.553477
15  0.553477
16  0.553477
17  0.553477
18  0.553477
19  0.553477
20  0.553477
21  0.553477
22  0.553477
23  0.553477
24  0.553477
25  0.553477
26  0.553477
27  0.553477
28  0.553477
29  0.553477

In [9]:
# # from keras.wrappers.scikit_learn import KerasClassifier # create a keras classifier
# from sklearn.model_selection import cross_val_score
# from keras.models import Sequential
# from keras.layers import Dense
# from sklearn.model_selection import GridSearchCV

In [10]:
# def build_classifier():
#     object =Sequential()
#     object.add(Dense(units=2,kernel_initializer='uniform',activation='relu',input_dim=4))
#     object.add(Dense(units=2,kernel_initializer='uniform',activation='relu'))
#     object.add(Dense(units=2,kernel_initializer='uniform',activation='relu'))
    
    
#     object.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])
#     return object

In [11]:
# classifire =KerasClassifier(bbuild_classifier,epochs=100,batch_size=10)
# parameter = {'batch_size':[10,20],'epochs':[100,200]}
# grid_search =GridSearchCV(classifire,parameter,cv=10,param_grid=parameter,scoring='accuracy',n_jobs=-1)
# grid_search.fit(x_train,y_train)
# best_parameters =grid_search.best_params_
# best_accuracy =grid_search.best_score_